:root {
  /* colors */
  --bg-color: rgba(0, 0, 40, 1);
  --bg-image: url(../images/cover-image-dark.png);
  --header-button-color: rgba(255, 0, 112, 1);
  --border: 1px solid rgba(255, 0, 112, 1);
  --big-title-color: rgba(219, 0, 255, 1);
  --big-title-shadow: 4px 4px 0px rgba(255, 0, 112, 1);
  --subtitle-color: rgba(0, 0, 40, 1);
  --decor-color: rgba(255, 0, 112, 1);
  --link-shadow: 2px 2px 0px rgba(255, 0, 112, 1);
  --link-focus: 1px solid rgba(241, 178, 206, 1);
  --link-hover: rgba(241, 178, 206, 1);
  --button-hover: 1px solid rgba(255, 0, 112, 0.4);
  --button-focus: 1px solid rgba(255, 0, 112, 1);
  --title-color: rgba(255, 0, 112, 1);
  --text-color: rgba(241, 178, 206, 1);
  --list-title: rgba(0, 0, 40, 1);
  --big-title-shadow-footer: 2px 2px 0px rgba(255, 0, 112, 1);
  /* size */
  --padding: 0px 10px;
  --header-padding: 10px 10px 10px 10px;
  --title-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --tittle-lh: 95.7px;
  --footer-padding: 10px;
}
